* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

canvas {
  border: 1px solid #000;
  position : absolute; 
  top : 0;
  left : 0;
}

#instructionBox, #conversationBox { 
  position : absolute; 
  width : 250px ; 
  height : 300px ;
  border : 1px solid blue; 
  top : 0;
  left : 501;
  display : none;
}

button {
  color : black;
  background-color: #dddddd;
  border : 1px solid black;
  width : 35px ; 
  display : none;
  margin: 0 auto;
}

button:hover {
  background-color : red;
}

/*
#instructionBoxButton {
  display : none;
}
*/
